/* autoprefixer: off */
/* Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInOut {
  0% {
    -webkit-opacity: 1;
    opacity: 1;
  }
  72% {
    -webkit-opacity: 1;
    opacity: 1;
  }
  100% {
    -webkit-opacity: 0;
    opacity: 0;
    /* Hack Safari */
    visibility: hidden;
    display: none;
  }
}
@keyframes bounceOver {
  0% {
    transform: translateY(0%) scale(1);
  }
  50% {
    transform: translateY(0%) scale(1.4);
  }
  100% {
    transform: translateY(0%) scale(1);
  }
}
@keyframes gelatineMe {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
body {
  font-family: "Roboto";
  margin: 0;
  background-color: #f6f6f6;
  position: relative;
  height: 100%;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 80%;
  height: 44px;
}
.header__logo__img {
  height: 44px;
  width: 162px;
}
.header__back {
  width: 10%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.header__back__icon {
  margin-left: 15px;
  font-size: 22px;
  color: #353535;
}
.header__forward {
  width: 10%;
  margin-right: 15px;
}

.hero {
  background-size: cover;
  height: 275px;
}

.footer {
  background-color: #353535;
  padding: 22px 25px 22px 25px;
}
.footer__logo__img {
  width: 137px;
  height: 27px;
  filter: brightness(0) invert(1);
}
.footer__navbar {
  margin: 20px 0px;
}
.footer__navbar__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.footer__navbar__list__option {
  margin: 0px 0px 10px 0px;
}
.footer__navbar__list__link {
  display: flex;
  flex-direction: row;
  font-family: "Roboto";
  text-decoration: none;
  text-align: start;
  justify-content: self;
  color: #fff;
}
.footer__navbar__list__link__icon {
  width: 11px;
  height: 13px;
  margin: 0px 20px 0px 0px;
}
.footer__navbar__list__link:hover {
  color: #99e2d0;
}

/****** Media queries ***********/
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .footer__logo {
    order: 2;
    margin-left: 40px;
  }
  .footer__navbar {
    order: 1;
    margin: 20px 0px;
  }
  .footer__navbar__list {
    flex-direction: row;
  }
  .footer__navbar__list__option {
    margin: 0px 0px 10px 0px;
  }
  .footer__navbar__list__link {
    flex-direction: row;
    margin-left: 30px;
    color: #fff;
  }
  .footer__navbar__list__link__icon {
    width: 11px;
    height: 13px;
    margin: 0px 20px 0px 0px;
  }
}
.search {
  width: 100%;
  background-color: #eaeaea;
  height: 50px;
  margin-top: 4px;
}

.search__group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search__group__icon {
  width: 12px;
  height: 16px;
}
.search__group__input {
  border: none;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  color: #353535;
  height: 50px;
  background-color: transparent;
  text-align: center;
  outline: none;
}
.search__group__input:active {
  text-decoration: underline;
}

.intro-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.intro__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
  margin: 20px 0 20px 0;
  text-align: center;
}
.intro__baseline {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #353535;
  margin: 0px 10px 10px;
  padding: 0;
  text-align: center;
}

/****** menu_card ***********/
.menu-link {
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  box-sizing: border-box;
}
.menu-link:hover .menu-card {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.menu-link:hover .menu-card__content__check {
  margin: 0;
}
.menu-link:active .menu-card {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.menu-link:active .menu-card__content__check {
  margin: 0;
}

.menu-link:has(input[type=checkbox]:checked) .menu-card__content__check {
  margin: 0;
}

.menu-link .menu-card {
  height: 69px;
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
}
.menu-link .menu-card__content {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.menu-link .menu-card__content__txt {
  display: flex;
  flex-direction: row;
  min-width: 0;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: end;
}
.menu-link .menu-card__content__txt__left {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-left: 15px;
  justify-content: center;
  overflow: hidden;
}
.menu-link .menu-card__content__txt__left__title {
  width: 100%;
  margin: 0px;
  font-weight: 500;
  font-size: 18px;
  font-family: "Roboto";
  color: #000000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-link .menu-card__content__txt__left__subtitle {
  width: 100%;
  margin: 0;
  font-size: 13px;
  font-weight: 300;
  font-size: 17px;
  font-family: "Roboto";
  color: #000000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-link .menu-card__content__txt__right {
  font-size: 15px;
  font-weight: 700;
  color: #353535;
  display: flex;
  align-items: last baseline;
  justify-content: end;
  padding-right: 10px;
}
.menu-link .menu-card__content__check {
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
  margin: 0px -60px 0 0;
  padding: 0;
  width: 60px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  box-sizing: border-box;
}
.menu-link .menu-card__content__check__img {
  width: 20px;
  height: 20px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .menu-link:not(:has(input[type=checkbox]:checked)) .menu-card__content__check:hover {
    margin: 0;
  }
}
/****** restaurant_card ***********/
a.restaurant-link {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
}
a.restaurant-link:hover .restaurant-card {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.restaurant-card {
  margin-bottom: 40px;
  height: auto;
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}
.restaurant-card__cover {
  width: 100%;
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.restaurant-card__new {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  background-color: #99e2d0;
  padding: 10px;
  border-radius: 2px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #008766;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
}
.restaurant-card__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant-card__content__txt {
  margin-left: 20px;
}
.restaurant-card__content__txt__title {
  margin: 20px 0px 5px 0px;
  font-weight: 700;
  font-size: 18px;
  font-family: "Roboto";
  color: #000000;
}
.restaurant-card__content__txt__subtitle {
  font-size: 13px;
  margin: 0px 0px 20px 0px;
  font-weight: 300;
  font-size: 17px;
  font-family: "Roboto";
  color: #000000;
}
.restaurant-card__content__favorite {
  margin-right: 20px;
}
.restaurant-card__content__favorite__img {
  font-size: 22px;
  transition: all 2s ease-in-out;
  color: #000000;
}
.restaurant-card__content__favorite__img:hover {
  opacity: 0;
}
.restaurant-card__content__favorite__img__container {
  -webkit-mask-image: url("../assets/icones/heart-solid.svg");
  mask-image: url("../assets/icones/heart-solid.svg");
  transition: all 1s ease-in-out;
  background-image: linear-gradient(0deg, #9356dc, #ff79da, transparent, transparent);
  width: 22px;
  height: 22px;
  background-size: 100% 300%;
}
.restaurant-card__content__favorite__img__container:hover {
  background-position: 100% 100%;
}

/****** Media queries ***********/
@media screen and (min-width: 768px) {
  a.restaurant-link {
    width: 45%;
  }
}
/* Buttons */
.big_button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  padding: 20px 40px;
  border: none;
  border-radius: 35px;
  font-family: "Roboto";
  font-weight: 500px;
  font-size: 16px;
  margin: 10px;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 1;
  transition: 0.5s;
}

.big_button:hover {
  opacity: 0.5;
}

.checkbox-wrapper .round-checkbox {
  position: relative;
}

.checkbox-wrapper .round-checkbox label {
  background-color: #fff;
  border: 1px solid #99e2d0;
  border-radius: 50%;
  cursor: pointer;
  height: 21px;
  width: 21px;
  display: block;
}

.checkbox-wrapper .round-checkbox label:after {
  border: 2px solid #99e2d0;
  border-top: none;
  border-right: none;
  content: "";
  height: 4px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 8px;
}

.checkbox-wrapper .round-checkbox input[type=checkbox] {
  visibility: hidden;
  display: none;
  opacity: 0;
}

.checkbox-wrapper .round-checkbox input[type=checkbox]:checked + label {
  background-color: #fff;
  border-color: #99e2d0;
}

.checkbox-wrapper .round-checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInOut 4s ease-in-out;
  animation-fill-mode: forwards;
}
.loader__container {
  padding: 30px;
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid #353535;
  border-radius: 150px;
}
.loader__container__icon {
  width: 40px;
  height: auto;
  animation: bounceOver 3s ease-in-out 0s infinite;
}
.loader__container__title {
  margin-top: 10px;
  font-family: "Shrikhand";
  animation: gelatineMe 0.5s 3;
  font-size: 16px;
  color: #353535;
}
.loader__container__subtitle {
  font-family: "Roboto";
  font-size: 14px;
  margin-top: 5px;
  color: #353535;
  animation: bounceOver 2s ease-in-out 0s infinite;
}

.functioning {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
}
.functioning__section-title {
  font-family: "Roboto";
  font-weight: 400;
  margin: 30px 0px 20px 0px;
}
.functioning__link {
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 15px;
  width: 90%;
  padding: 30px;
  display: flex;
  align-items: center;
  font-family: "Roboto";
  color: #000000;
  font-weight: 500;
  margin-left: 5%;
  margin-bottom: 20px;
}
.functioning__link__step {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 20px;
  padding: 5px;
  height: 20px;
  width: 20px;
  font-size: 16px;
  margin-left: -50px;
  color: #fff;
  background-color: #9356dc;
  transition: all 0.2s ease-out;
}
.functioning__link__icon {
  margin-right: 20px;
  margin-left: 25px;
  color: #7E7E7E;
}
.functioning__link:hover {
  background-color: #eaeaea;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  font-weight: 700;
}
.functioning__link:hover .functioning__link__step {
  transform: translateX(20%) scale(110%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.functioning__link:hover .functioning__link__icon {
  transform: scale(110%);
  color: #9356dc;
}

/****** restaurants ***********/
.restaurants {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.restaurants__section-title {
  font-family: "Roboto";
  font-weight: 400;
  margin: 30px 0px 20px 0px;
}
.restaurants__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  gap: 4px;
  margin: 5%;
}

/****** Media queries ***********/
@media screen and (min-width: 768px) {
  .functioning {
    flex-wrap: wrap;
  }
  .functioning__list {
    display: flex;
    flex-direction: row;
    margin: 20px 5% 20px 5%;
    justify-content: space-between;
  }
  .functioning__link {
    margin-left: 0;
  }
  .functioning__link:not(:last-child) {
    margin-right: 40px;
  }
  .restaurants__list {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.menu {
  width: 100%;
  margin-top: -20px;
  padding: 20px;
  max-width: 1200px;
  background-color: #eaeaea;
  border-radius: 20px 20px 0 0;
  box-sizing: border-box;
}
.menu__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Shrikhand";
  margin: 0px;
}
.menu__title__favorite {
  margin-right: 20px;
}
.menu__title__favorite__img {
  font-size: 22px;
  transition: all 2s ease-in-out;
}
.menu__title__favorite__img:hover {
  opacity: 0;
}
.menu__title__favorite__img__container {
  -webkit-mask-image: url("../assets/icones/heart-solid.svg");
  mask-image: url("../assets/icones/heart-solid.svg");
  transition: all 1s ease-in-out;
  background-image: linear-gradient(0deg, #9356dc, #ff79da, transparent, transparent);
  width: 22px;
  height: 22px;
  background-size: 100% 300%;
}
.menu__title__favorite__img__container:hover {
  background-position: 100% 100%;
}

.group_menu {
  opacity: 0;
}

.group_entrees {
  animation: fadeIn 2s 0s;
  animation-fill-mode: forwards;
}

.group_plats {
  animation: fadeIn 2s 1s;
  animation-fill-mode: forwards;
}

.group_desserts {
  animation: fadeIn 2s 2s;
  animation-fill-mode: forwards;
}

.separation-plat {
  margin-top: 30px;
}
.separation-plat__title {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
.separation-plat__title__underline {
  height: 3px;
  width: 40px;
  background-color: #99e2d0;
  margin-top: 3px;
}

.command {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0 20px 0;
}

/* Hero's */
.hero_a_la_francaise {
  background-image: url("../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.hero_la_note_enchantee {
  background-image: url("../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.hero_le_delice_des_sens {
  background-image: url("../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.hero_la_palette_du_gout {
  background-image: url("../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

@media screen and (min-width: 768px) {
  .menu {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
  }
  .menu__title {
    justify-content: center;
  }
  .menu__title__favorite {
    margin-left: 20px;
    margin-right: 0px;
  }
}/*# sourceMappingURL=main.css.map */