$background-color:#fff;
$background-color-dark:#353535;
$background-color-grey:#EAEAEA;
$background-color-green:#99E2D0;

$primary-color:#fff;
$secondary-color:#353535;
$third-color:#9356DC;
$fourth-color:#008766;

$background-color-button:#F6F6F6;
$font-global:"Roboto";
$font-secondary:"Shrikhand";
$font-primary-color:#000000;
