$background-color: #fff;
$background-color-dark: #353535;
$background-color-grey: #eaeaea;
$background-color-green: #99e2d0;

$primary-color: #fff;
$secondary-color: #353535;
$third-color: #9356dc;
$fourth-color: #008766;
$fifth-color:#7E7E7E;

$background-color-button: #f6f6f6;
$font-global: "Roboto";
$font-secondary: "Shrikhand";
$font-primary-color: #000000;
