/****** menu_card ***********/

a.menu-link {
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	box-sizing: border-box;
	&:hover .menu-card {
		box-shadow: 0px 4px 15px (rgba(#000000, 20%));
	}
	&:hover .menu-card__content {
		width:100%;max-width:100%;
	
	}
	&:hover .menu-card__content__price {
		transform: translateX(-60px);
		width:20%;max-width:20%;
		&__check__img {
			animation: fadeIn 1s 0.2s;
			animation-fill-mode: forwards;
		}
	}
	&:hover .menu-card__content__txt {
		width:80%;max-width:80%;
		
	}
}

a.menu-link .menu-card {
	margin-bottom: 20px;
	height: 69px;
	width: 100%;
	box-shadow: 0px 4px 15px (rgba(#000000, 15%));
	border-radius: 15px;
	background-color: $background-color;
	overflow:hidden;
	&__content {
		width: 120%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		overflow: hidden;
		box-sizing: border-box;
		
		&__txt {
			display: flex;
		flex-direction: column;
			margin-left: 20px;
			margin-top: 13px;
			width:100%;
	
			overflow: hidden;
			box-sizing: border-box;
			&__title {
				margin: 0px;
				font-weight: 500;
				font-size: 18px;
				font-family: $font-global;
				color: $font-primary-color;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				width: 80%;
				max-width:80%;
			}
			&__subtitle {
				font-size: 13px;
				margin: 0px 0px 30px 0px;
				font-weight: 300;
				font-size: 17px;
				font-family: $font-global;
				color: $font-primary-color;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				width: 80%;
				max-width:80%;
			
			}
		}
		&__price {
			width:20%;
			font-size: 15px;
			font-weight: 700;
			margin: -14px -60px 0px -13px;
			color: $secondary-color;
			display: flex;
			align-items: center;
			justify-content: end;
			transition: all 0.5s ease-in-out;
			&__price {
				margin-right: 10px;
				margin-top: 15px;
			}
			&__check {
				background-color: $background-color-green;
				border-radius: 0 15px 15px 0;
				width: 60px;
				height: 70px;
				display: flex;
				align-items: center;
				justify-content: center;

				&__img {
					width: 20px;
					height: 20px;
					height: auto;
					opacity: 0;
				}
			}
		}
	}
}
