body{
    font-family: $font-global;
    margin:0;
}
.big_button{
    display:block;
    color:white;
    background:linear-gradient(0deg, #9356DC, #FF79DA);
    padding:20px;
    border:none;
    border-radius:25px;
    font-family: $font-global;
    font-weight: 500px;
    font-size:16px;
    margin:10px;
}
.button_home{
    
}