.search {
    width:100%;
    background-color: $background-color-grey;
    height: 50px;
    margin-top:4px;
}
.search__group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &__icon {
        width:12px;
        height:16px;
    }
    &__input {
        border: none;
        font-family: $font-global;
        font-size:16px;
        font-weight:500;
        color:$secondary-color;
        height:50px;
        background-color:transparent;
        text-align: center;
        outline:none;
    }
    &__input:active {
      text-decoration:underline;
    }
}
